<div class="film-reviews">
$for(embeddedReviews)$
<article class="embedded-review" aria-labelledby="review-$id$-heading">
  <h3 id="review-$id$-heading"><a href="$url$">$title$</a></h3>
  $partial("templates/cinema/review-meta.html")$
  <div class="embedded-review-body content-body" id="review-$id$-text">
    $partial("templates/cinema/image.html")$
    $htmlBody$
  </div>
  <p class="review-permalink"><a href="$url$">Review permalink</a></p>
</article>
$endfor$
</div>
<script src="/js/film-reviews.js" defer></script>
